body {
    background-image: url("/docs/assets/imgs/cssBackground.jpg");
    background-size: 1500px;
}




#canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}