body {
    background-image: url("../docs/assets/imgs/cssBackground.jpg");
    background-size: 1550px;
}

.title {
    width: 50vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sideshow {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    padding-left: 900px;
    
}



#canvas {
    background-image: url("../docs/assets/imgs/SIMPSONS.jpg");
    background-size: contain;
    position: absolute;
    top:1;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.highscore {
    padding-top: 16px;
    padding-left: 32px;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
    
}

button {
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    
    
    
}