body {
    background-image: url("../docs/assets/imgs/cssBackground.jpg");
    background-size: 1550px;
}

.title {
    width: 50vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sideshow {
    width: 200px;
    height: 440px;
    margin-left: 930px;
    /* display: flex;
    align-items: right;
    justify-content: flex-end;
    padding-left: 800px; */
    
}

.bartimg {
    width: 200px;
    height: 450px;
}



#canvas {
    background-image: url("../docs/assets/imgs/SIMPSONS.jpg");
    background-size: contain;
    position: absolute;
    top:300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.highscore {
    padding-top: 16px;
    padding-left: 20px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
    
}

button {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 44px;
    margin-left: 20px;
}